<div xmlns:th="http://www.thymeleaf.org" class="row col-md-12 col-lg-6 col-xl-5 m-auto p-2 blocs">
	
	<div class="media border rounded border-dark w-100">
		<img class="align-self-center pl-3" th:src="${a.image == null ? '/images/placeholder.png' : a.image}" alt="Photo de l'article">
		<div class="media-body text-left p-3">
			<a th:href="${'/article/' + a.noArticle}"><h5 class="mt-0" th:utext="${a.nomArticle}"></h5></a>
			<p th:utext="${a.description}"></p>
			<p th:utext="${a.meilleureOffre != null ? 'Prix : ' + a.meilleureOffre.montantEnchere + ' points' : 'Prix : ' + a.miseAPrix + ' points'}"></p>
			<p th:utext="${'Fin de l''ench&egrave;re : ' + a.dateFinEncheres}"></p>
			<a th:if="${#request.userPrincipal != null}" th:href="${'/userInfo?pseudo=' + a.pseudoVendeur}"><p th:utext="${'Vendeur : ' + a.pseudoVendeur}"></p></a>
			<p th:if="${#request.userPrincipal == null}" th:utext="${'Vendeur : ' + a.pseudoVendeur}"></p>
		</div>
	</div>
</div>