<div xmlns:th="http://www.thymeleaf.org">
	<header class="text-left">	
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand nav-link text-light text-left p-0 m-0" th:href="@{/}"><img class="" src="/images/logo.png" alt="Logo ENI-Enchères" height="80"/></a>
			<ul class="navbar-nav navbar-collapse d-flex align-items-start justify-content-md-end">
				<li class="nav-item" th:if="${#request.userPrincipal == null}">
					<a class="nav-link text-light" th:href="@{/userInfo}">S'inscrire - Se connecter</a>
				</li>
				<li class="nav-item" th:if="${#request.userPrincipal != null}">
					<a class="nav-link text-light" th:href="@{/newSale}">Vendre un article</a>
				</li>
				<li class="nav-item" th:if="${#request.userPrincipal != null}">
					<a class="nav-link text-light" th:href="@{/editSale}">Update un article</a>
				</li>
				<li class="nav-item" th:if="${#request.userPrincipal != null}">
					<a class="nav-link text-light" th:href="@{/userInfo}">Mon profil</a>
				</li>
				<li class="nav-item" th:if="${session.userIsAdmin == true}">
					<a class="nav-link text-light" th:href="@{/admin}">Admin</a>
				</li>
				<li class="nav-item" th:if="${#request.userPrincipal != null}">
					<a class="nav-link text-light" th:href="@{/logout}">Déconnexion</a>
				</li>
			</ul>
		</nav>
	</header>
</div>

