<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Site d'enchères">
	<meta name="author" content="L&L">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css/bootstrap.min.css}"/>
	<link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title th:utext="${title_register}"></title>
</head>

<body class="homepage">

	<!-- Include _header.html -->
	<th:block th:include="/_header"></th:block>

	<section class="container text-center">
		<h2 class="my-5" th:utext="${titre_register}"></h2>
		
		<!-- /login?error=true -->
		<div class="erreurs" th:if="${errorMessage != null}" th:utext="${errorMessage}">...</div>
		
		<form th:action="@{/register}" th:object="${utilisateurForm}" method="POST">
			<div class="form-group row text-wrap text-left">
				<label for="InputPseudo" class="col-6 col-md-3 my-2 py-1">Pseudo:</label>
				<input type="text" class="form-control col-6 col-md-3 my-2" id="InputPseudo" th:field="*{pseudo}">
				<label for="InputNom" class="col-6 col-md-2 offset-md-1 my-2 py-1">Nom:</label>
				<input type="text" class="form-control col-6 col-md-3 my-2" id="InputNom" th:field="*{nom}">
				
				<label for="InputPrenom" class="col-6 col-md-3 my-2 py-1">Prénom:</label>
				<input type="text" class="form-control col-6 col-md-3 my-2" id="InputPrenom" th:field="*{prenom}">
				<label for="InputEmail" class="col-6 col-md-2 offset-md-1 my-2 py-1">Email:</label>
				<input type="text" class="form-control col-6 col-md-3 my-2" id="InputEmail" th:field="*{email}">
				
				<label for="InputTelephone" class="col-6 col-md-3 my-2 py-1">Téléphone:</label>
				<input type="text" class="form-control col-6 col-md-3 my-2" id="InputTelephone" th:field="*{telephone}">
				<label for="InputRue" class="col-6 col-md-2 offset-md-1 my-2 py-1">Rue:</label>
				<input type="text" class="form-control col-6 col-md-3 my-2" id="InputRue" th:field="*{rue}">
				
				<label for="InputCodePostal" class="col-6 col-md-3 my-2 py-1">Code postal:</label>
				<input type="text" class="form-control col-6 col-md-3 my-2" id="InputCodePostal" th:field="*{code_postal}">
				<label for="InputVille" class="col-6 col-md-2 offset-md-1 my-2 py-1">Ville:</label>
				<input type="text" class="form-control col-6 col-md-3 my-2" id="InputVille" th:field="*{ville}">
				
				<label for="InputPassword" class="col-6 col-md-3 my-2 py-1">Mot de passe:</label>
				<input type="password" class="form-control col-6 col-md-3 my-2" id="InputPassword" th:field="*{motDePasse}">
				<label for="InputConfirmPassword" class="col-6 col-md-2 offset-md-1 my-2 py-1">Confirmation:</label>
				<input type="password" class="form-control col-6 col-md-3 my-2" id="InputConfirmPassword" th:field="*{confirmPassword}">
			</div>
			<div class="erreurs form-group col-md-6 offset-md-3 text-center mt-1">
				<span class="row justify-content-center" th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}">..</span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">..</span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">..</span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">..</span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}">..</span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('code_postal')}" th:errors="*{code_postal}">..</span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}">..<br><br></span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('motDePasse')}" th:errors="*{motDePasse}">..</span>
				<span class="row justify-content-center" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">..</span>	
			</div>
			<div class="form-group row justify-content-center mt-4 col-md-6 offset-md-3 text-center mt-1 order-6 order-md-6">
				<div class="col-6 ">
					<button class="btn btn-success btn-lg my-1" type="submit">Créer</button>
				</div>
				<div class="col-6 ">
					<a class="btn btn-secondary btn-lg my-1" th:href="@{/login}">Annuler</a>
				</div>
			</div>
		</form>
	</section>

	<!-- Include _footer.html -->
	<th:block th:include="/_footer"></th:block>
</body>
</html>