<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Site d'enchères">
	<meta name="author" content="L&L">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css/bootstrap.min.css}"/>
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title th:utext="${title_userInfo}"></title>
</head>

<body>

	<!-- Include _header.html -->
	<th:block th:include="/_header"></th:block>

	<section class="container text-center">
		<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5">
			<table class="table table-borderless text-nowrap">
				<tbody>
					<tr>
						<th scope="row" class="text-left col-6">Pseudo :</th>
						<td class="col-6" th:text="${userPseudo}"></td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Nom :</th>
						<td th:text="${userNom}"></td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Prénom :</th>
						<td th:text="${userPrenom}"></td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Email :</th>
						<td th:text="${userEmail}"></td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Téléphone :</th>
						<td th:text="${userTelephone}"></td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Rue :</th>
						<td th:text="${userRue}"></td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Code postal :</th>
						<td th:text="${userCodePostal}"></td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Ville :</th>
						<td th:text="${userVille}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<a class="btn btn-secondary" th:if="${session.userPseudo == userPseudo}" th:href="@{/editInfo}">Modifier</a>
		
	</section>

	<!-- Include _footer.html -->
	<th:block th:include="/_footer"></th:block>
</body>
</html>