<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Site d'enchères">
	<meta name="author" content="L&L">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css/bootstrap.min.css}"/>
	<link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title th:utext="${title_welcome}"></title>
</head>

<body class="homepage">

	<!-- Include _header.html -->
	<th:block th:include="_header"></th:block>

	<section class="container-fluid text-center">
		<h2 class="my-5" th:utext="${titre_newSale}"></h2>
		
		<!-- /login?error=true -->
		<div class="erreurs" th:if="${errorMessage != null}" th:utext="${errorMessage}">...</div>
		
		<div class="row text-left">
			<div class="col-12 col-md-3 text-center order-2 order-md-1 mx-2" id="containerImg">
				<img src="/images/placeholder.png" alt="" />
			</div>
			<div class="row col-md-6 order-1 order-md-2">
				<p class="col-12 my-2 py-1" th:utext="${article.nomArticle}"></p>
			</div>
			
			<div class="row col-md-6 offset-md-3 order-3">
				<label class="col-6 my-2 py-1" for="InputDescription" >Description:</label>
				<p class="col-6 my-2" th:utext="${article.description}"></p>
				
				<label class="col-6 my-2 py-1">Catégorie</label>
				<p class="col-6 my-2" th:utext="${article.categorie}"></p>
			</div>
			<div class="row col-md-6 offset-md-3 order-4">
				<p class="col-6 my-2 py-1" >Meilleure offre :</p>
				<p class="col-3 my-2" th:if="${#request.userPrincipal != null}" th:utext="${article.meilleureOffre != null} ? ${article.meilleureOffre.montantEnchere + ' par <a href=''userInfo?pseudo=' + article.meilleureOffre.enchereId.utilisateur.pseudo + '''>' + article.meilleureOffre.enchereId.utilisateur.pseudo + '</a>'} : ${'Aucune'}"></p>
				<p class="col-3 my-2" th:if="${#request.userPrincipal == null}" th:utext="${article.meilleureOffre != null} ? ${article.meilleureOffre.montantEnchere + ' par ' + article.meilleureOffre.enchereId.utilisateur.pseudo} : ${'Aucune'}"></p>
				<p class="col-6 my-2 py-1" >Mise à prix :</p>
				<p class="col-3 my-2" th:utext="${article.miseAPrix}"></p>
				<p class="col-6 my-2 py-1" >Fin de l'enchère:</p>
				<p class="col-3 my-2" th:utext="${article.dateFinEncheres}"></p>
				<label class="col-6 my-2 py-1">Retrait :</label>
				<p class="col-6 my-2" th:utext="${article.retrait.rue}"></p>
				<p class="col-6 offset-6 my-2" th:utext="${article.retrait.code_postal + ' ' + article.retrait.ville}"></p>
				<p class="col-6 my-2 py-1" >Vendeur :</p>
				<p class="col-3 my-2" th:utext="${article.pseudoVendeur}"></p>
			</div>
			
			<form class="form-group row col-md-6 offset-md-3 text-left mt-1 order-5" th:action="@{/encheres?id={id}(id=${enchere_id})}" th:object="${enchereForm}" method="POST" th:if="${#request.userPrincipal != null}">
				<label class="col-6 my-2 py-1">Ma proposition :</label>
				<input class="col-2 my-2" type="number" name="montantEnchere" th:min="${article.meilleureOffre != null} ? ${article.meilleureOffre.montantEnchere + 1} : ${article.miseAPrix}"
														th:value="${article.meilleureOffre != null} ? ${article.meilleureOffre.montantEnchere + 1} : ${article.miseAPrix}" />
				<div class="col-4">
					<button class="btn btn-success btn-lg my-1" type="submit">Enchérir</button>
				</div>
				<div class="erreurs form-group col-md-6 offset-md-3 text-center mt-1 order-6">
					<span class="row justify-content-center" th:if="${#fields.hasErrors('montantEnchere')}" th:errors="*{montantEnchere}">..</span>
				</div>
			</form>
		</div>
	</section>
		
	<!-- Include _footer.html -->
	<th:block th:include="_footer"></th:block>
	<script src="/js/newSale.js"></script>
</body>
</html>