<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Site d'enchères">
	<meta name="author" content="L&L">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css/bootstrap.min.css}"/>
	<link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title th:utext="${title_welcome}"></title>
</head>

<body class="homepage">

	<!-- Include _header.html -->
	<th:block th:include="_header"></th:block>

	<section class="container-fluid text-center">
		<h2 class="my-5" th:utext="${titre_welcome}"></h2>
		
		<div class="erreurs my-5" th:if="${errorMessage != null}" th:utext="${errorMessage}">...</div>
		
		<form th:action="@{/encheres}" th:object="${rechercheForm}" method="POST" class="row col-md-10 offset-md-1 justify-content-center text-left mx-auto">
			<div class="form-group row col-12 col-md-8">
				<h5 class="col-12 order-1">Filtres :</h5>
				<div class="row col-12 order-3 order-md-3 mx-auto aere">
					<label class="col-4 pl-0 my-auto" for="InputCategorie" >Catégories :</label>
					<select class="form-control col-8" id="InputCategorie" name="categorie">
						<option value="0">Toutes</option>
<!-- 						<option  th:each="c: ${categories}" th:value="${c.noCategorie}" th:utext="${c.libelle}">..</option> -->
						<option th:each="c: ${categories}" th:value="${c.noCategorie}" th:utext="${c.libelle}" th:selected="${c.noCategorie == rechercheForm.categorie}">..</option>
					</select>
				</div>
<!-- 				<input class="form-control col-12 order-3" type="text" id="InputRecherche" th:field="*{champRecherche}"> -->
				<div class="input-group my-2 col-12 order-3 order-md-2">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputRechercheIcon"><i class="material-icons">search</i></span>
					</div>
					<input class="form-control" type="text" placeholder="Le nom de l'article contient" aria-label="Recherche" aria-describedby="inputRechercheIcon" th:field="*{recherche}">
				</div>
				<!--  ! visible que si connecté ! -->
				<div class="row col-12 order-4 order-lg-4 mx-auto aere order-2 order-md-2" th:if="${#request.userPrincipal != null}">
					<div class="form-check form-check-inline col-lg-6 order-lg-5 ">
						<input type="radio" class="form-check-input" name="achats" value="0" th:field="*{radio}" th:checked="*{radio}">
						<label for="achat" class="form-check-label">Achats</label>
					</div>
					<div class="form-check col-lg-6 order-lg-7 ">
						<div class=col-12>
						<input type="checkbox" class="row form-check-input" th:field="*{achatsOuvertes}" th:checked="*{achatsOuvertes}">
							<label for="Aouvertes" class="form-check-label">enchères ouvertes</label>
						</div>
						<div class=col-12>
						<input type="checkbox" class="row form-check-input" th:field="*{achatsEnCours}" th:checked="*{achatsEnCours}">
							<label for="Aencours" class="form-check-label">mes enchères en cours</label>			
						</div>
						<div class=col-12>				
						<input type="checkbox" class="row form-check-input" th:field="*{achatsRemportees}" th:checked="*{achatsRemportees}">
							<label for="Aremportees" class="form-check-label">mes enchères remportées</label>	
						</div>
					</div>	
					<div class="form-check form-check-inline order-lg-6 col-lg-5">
						<input type="radio" class=" form-check-input" name="ventes" value="1" th:field="*{radio}" th:checked="!*{radio}">
						<label for="vente" class="form-check-label">Mes ventes</label>
					</div>
					<div class="form-check col-lg-5 order-lg-8 ">
						<div class=col-12>
						<input type="checkbox" id="choixvente" name="Vencours" class="row form-check-input" th:field="*{ventesEnCours}" th:checked="*{ventesEnCours}">
							<label for="Vencours" class="form-check-label">mes ventes en cours</label>
						</div>
						<div class=col-12>
						<input type="checkbox" id="choixvente" name="Vnondebute" class="row form-check-input" th:field="*{ventesNonDebutees}" th:checked="*{ventesNonDebutees}">
							<label for="Vnondebute" class="form-check-label">ventes non débutées</label>
						</div>
						<div class=col-12>
						<input type="checkbox" id="choixvente" name="Vterminees" class="row form-check-input" th:field="*{ventesTerminees}" th:checked="*{ventesTerminees}">
							<label for="Vterminees" class="form-check-label">ventes terminées</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row col-12 col-md-4 justify-content-around">
				<button class=" col-lg-8 btn btn-secondary btn-lg m-5 my-1 h-50" type="submit">Rechercher</button>
			</div>
			<div class="w-100"></div>
		</form>
		
		<div class="row col-md-10 offset-md-1 justify-content-center text-left mx-auto">
			
			
			
		</div>
		
		<div class="row col-md-10 offset-md-1 mx-auto appelBlocs">
			<th:block th:include="_articleBlock" th:each="a: ${articles}"></th:block>
		</div>
		
	</section>

	<!-- Include _footer.html -->
	<th:block th:include="_footer"></th:block>
</body>
</html>